.portfolio {
    height: 600vh;
    position: relative;

}

.pList {
    position: sticky;
    top: 0;
    display: flex;
    height: 100vh;
    width: max-content;
}

.pItem {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.pItem:nth-child(1) {
    background: linear-gradient(to right, #12071F, #210B3A);
}

.pItem:nth-child(2) {
    background: linear-gradient(to right, #210B3A, #27084A);
}

.pItem:nth-child(3) {
    background: linear-gradient(to right, #27084A, #220345);
}

.pItem:nth-child(4) {
    background: linear-gradient(to right, #220345, #2A0159);
}

.pItem:nth-child(5) {
    background: linear-gradient(to right, #2A0159, #12071F);
}

.pProgress {
    position: sticky;
    width: 80px;
    height: 80px;
    left: 0;
    bottom: 80%;
}


.pImg {
    width: 40%;
    border-radius: 20px;
    overflow: hidden;
}

.pImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pText {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.pText h1 {
    font-size: 56px;
}

.pText p {
    font-weight: 300;
}

.pText button {
    background-color: pink;
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

@media (max-width: 1536px) {
    .pItem {
        gap: 50px;
    }
}

@media (max-width: 1280px) {
    .pText h1{
        font-size: 48px;
    }
}

@media (max-width: 1024px) {
    .pItem {
        flex-direction: column;
    }

    .pImg .pText {
        width: 80%;
    }

    .pProgress {
        bottom: 100px;
        left: 100%;
    }
}

@media (max-width: 768px) {
    .pText h1{
        font-size: 40px;
    }

    .pProgress {
        width: 50px;
        height: 50px;
    }
}